[user]
	name = Raniere Silva
	email = raniere@rgaiacs.com
[alias]
        b = branch -v
        bm = branch --merged
        brm = branch --delete
        c = commit
        ck = checkout
        cp = cherry-pick
        d = diff
        dc = diff --cached
        dcm = diff --cached --minimal
        dcn = diff --cached --name-only
        dcw = diff --cached --word-diff
        dm = diff --minimal
        dn = diff --name-only
        dw = diff --word-diff
        fall = fetch --all
        lg = log --oneline --graph --decorate
        lga = log --oneline --graph --decorate --all
        lgb = log --oneline --graph --decorate --branches
        lgm = log --oneline --graph --decorate --merges
        lgf = log --oneline --graph --decorate --flow
        lgaf = log --oneline --graph --decorate --all --flow
        lgbf = log --oneline --graph --decorate --branches --flow
        lgmf = log --oneline --graph --decorate --merges --flow
        pf = push --force
        pp = push --prune
        ppn = push --prune --dry-run
        prm = push --force --delete
        rc = clean -f 
        rcall = clean -fxd 
        rcrf = clean -fd
        rv = remote -v
        shb = show -s
        shm = show --minimal --ignore-space-at-eol -b -w --ignore-blank-lines
        shn = show --name-only
        shs = show --summary -M
        shw = show --word-diff
        srm = clean -n 
        st = status -s -b
        sta = status -s -b --ignored
[core]
	editor = vim
	excludesfile = /home/raniere/.gitignore_global
	whitespace = trailing-space,space-before-tab
	pager = less -+S
[color]
	ui = true
[color "diff"]
	whitespace = red reverse
[push]
	default = upstream
[gui]
[gui]
	recentrepo = /home/raniere/src/pandoc
[tag]
        sort = v:refname
