[user]
	name = Raniere Silva
	email = raniere@ime.unicamp.br
[alias]
        b = branch
        c = commit
        ck = checkout
        d = diff
        dc = diff --cached
        df = diff --name-only
        dw = diff --word-diff
        lg = log --oneline --graph --decorate
        lga = log --oneline --graph --decorate --all
        lgb = log --oneline --graph --decorate --branches
        lgm = log --oneline --graph --decorate --merges
        shn = show --name-only
        shw = show --word-diff
        st = status
[core]
	editor = vim
	excludesfile = /home/raniere/.gitignore_global
	whitespace = trailing-space,space-before-tab
	pager = less -+S
[color]
	ui = true
[color "diff"]
	whitespace = red reverse
