*.swp
*.log
.adobe*
.abook/*
.aptitude*
.bash_history
*cache*
calibre*
.config*
contacts*
.dbus*
desktop*
.directory*
.dmrc*
documents*
dotfiles_server*
downloads*
.fetchmail.pid
.fetchmailrc
.font*
.gconf*
.gegl-0.0*
.gimp-2.6*
.gitconfig*
.gitmodules*
.gnome2*
.gout*
.gstreamer*
.gtk-bookmarks*
.gvfs*
.hgrc*
.ICEauthority*
.icedtea*
.java*
.jdownloader*
.jnewsrc*
.kde*
kobo*
.lesshst*
.libvirt*
.local*
.macromedia*
mail*
.matplotlib*
.mission-control*
.Movie_Renamer*
.mozilla*
.msmtprc
musics*
.muttrc
.newsbeuter/history*
.octave*
.offlineimaprc
.pentadactyl*
pictures*
.pip*
.profile*
public*
.pulse*
.pyload*
.sage*
sand_box*
.sane*
.screenrc*
scripts
.sqlite*
src*
templates*
.texlive2012*
.thumbnails*
.thunderbird
.uml*
videos*
.viminfo
.vimrc
.virsh*
.virt-manager*
.weechat/logs*
.weechat/python*
.weechat/script
.weechat/urlgrab*
.Xauthority*
.xsession-errors*
